<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BasicB0t.Settings.UserClient" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BasicB0t.Settings.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BasicB0t.Settings.UserClient>
            <setting name="OauthToken" serializeAs="String">
                <value />
            </setting>
            <setting name="TokenExpiry" serializeAs="String">
                <value />
            </setting>
            <setting name="RefreshToken" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="UserID" serializeAs="String">
                <value />
            </setting>
            <setting name="ProfileURL" serializeAs="String">
                <value />
            </setting>
            <setting name="ProfileColor" serializeAs="String">
                <value />
            </setting>
            <setting name="BroadcasterType" serializeAs="String">
                <value />
            </setting>
        </BasicB0t.Settings.UserClient>
        <BasicB0t.Settings.App>
            <setting name="ClientID" serializeAs="String">
                <value>ke52nwmul6w4xb5zu3c75r1o4k7h2d</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>tv9hdh5mmllsl9qkyc0aqht6mpu9np</value>
            </setting>
            <setting name="RedirectURL" serializeAs="String">
                <value>http://localhost:3025/</value>
            </setting>
        </BasicB0t.Settings.App>
    </userSettings>
</configuration>